        html{
            overflow: hidden;
            font-family: "Microsoft YaHei" 
        }
        body{
            min-width: 512px;
        }
        @media screen and (min-width:1200px){
            .select-input{
                margin-left: 10px !important;
            }
            .jqxFileUpload {
                float: right;
            }
        }
        @media screen and (min-width: 960px) and (max-width: 1199px) {
            .col-md-3 {
                width: 33.33333333%;
            }
            .select-input{
                margin-left: auto !important;
            }
            .dropdown-tree {
                float: inherit !important;
            }
            .dropdown-default {
                float: inherit !important;
            }
            .col-md-4 {
                width: 50%;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 959px){
            html{
                overflow: auto;
            }
            .col-md-3 {
                width: 50%;
            }
            .item-qualification {
                width: 55% !important;;
                margin-right: 50px !important;
            }
            .dropdown-tree {
                float: inherit !important;
            }
            .dropdown-default {
                float: inherit !important;
            }
            .select-input{
                margin-left: auto !important;
            }
        }
        @media only screen and (min-width: 480px) and (max-width: 767px){
            html{
                overflow: auto;
            }
            .dropdown-tree {
                float: inherit !important;
            }
            .dropdown-default {
                float: inherit !important;
            }
            .select-input{
                margin-left: auto !important;
            }
        }
        @media only screen and (max-width: 479px) {
            html{
                overflow: auto;
            }
            .dropdown-tree {
                float: inherit !important;
            }
            .dropdown-default {
                float: inherit !important;
            }
            .select-input{
                margin-left: auto !important;
            }
            .jqxFileUpload{
                width: 60% !important;
            }
        }
        .query-header{
            position: relative;
            min-height: 35px;
            background: #ffffff;
            -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
            color: #555555;
            padding: 0 10px;
            text-align: right;
        }
        .caption-tittle{
            padding: 5px;
            margin: 0;
            float: left;
            text-align: left;
            font-weight: bolder;
            font-size: 1.2em;
            line-height: 34px;
        }
        .caption-button{
            display: inline-block;
            padding: 5px;
            line-height: 34px;
            position: relative;
            text-align: left;
        }
        .query-checkbox{
            padding-top: 20px;
        }
        .form-control{
            width: auto;
            display: inline-block;
        }
        .checkbox{
            display: inline-block;
        }
        .form-control{
            height: inherit;
            padding: 3px 6px;
        }
        .col-md-4 {
            padding-top: 5px;
            padding-bottom: 10px;
        }
        .row{
            padding-bottom: 10px;
        }
        .toggle-criteria{
            margin-top: 5px;
        }
        .container-fluid{
            -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
        }
        .btn-orange {
            color: #fff;
            background-color: #ffcc00;
            border-color: #ffc800;
        }
        .btn-orange.active, .btn-orange.focus, .btn-orange:active, .btn-orange:focus, .btn-orange:hover, .open>.dropdown-toggle.btn-orange:active  {
            color: #fff;
            background-color: #ffbc00;
            border-color: #FAB700;
        }
        .caret {
            margin-left: 180px;
        }
        .jqxInput{
            margin-right: 10px !important;
        }
        .select-checkbox{
            float: left; 
            margin-top: 5px;  
            margin-left: 10px;
        }
        .col-md-3{
            padding-top: 5px;
            padding-bottom: 10px;
        }
        .dropdown-default{
            float: right;
            margin-right: 15px;
        }
        .dropdown-tree{
            float: right;
            margin-right: 15px;
        }
        .jqx-file-upload{
            padding: initial;
        }
        .glyphicon{
            right: 5px;
        }
        .dropDownContent{
            padding: 5px;
        }
        #dropDownButtonArrowvillageName .jqx-icon-arrow-down-light{
            background-image: url(./jqwidgets/styles/images/menubutton.png);
        }
        #dropDownButtonArrowvillageName .jqx-icon-arrow-down-selected-light{
            background-image: url(./jqwidgets/styles/images/icon-down-white.png);
        }
        .jqxFileUpload button{
            /* margin: initial !important; */
            width: 90px;
        } 
        /* #aHide{
            border: 1px solid #e1e1e1;
        } */
        .menuDU{
            margin-left: 10px;
            font-size: small;

        }
        .btn {
            padding: 3px 12px;
        }
        .jqx-primary {
            color: #fff;
            background-color: #1ca8dd !important;
            border-color: #4a96d8 !important;
        }
        .jqx-primary.active, .jqx-primary.focus, .jqx-primary:active, .jqx-primary:focus, .jqx-primary:hover, .open>.dropdown-toggle.jqx-primary{
            background-color: #3c8ace !important;
            border-color: #3a90dc !important;
        }
        /* //说明框样式 */
        .big-image {
            float: left;
            margin-right: 15px;
            margin-bottom: 15px;
            border: 1px solid #999;
            background: #fff;
            padding: 3px;
        }
        .important-text {
            font-size: 13px;
            font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
        }
        .more-text {
            font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
            color: #444;
            font-size: 11px;
            font-style: italic;
        }
        .jqx-listitem-state-selected-light, .jqx-menu-item-selected-light, .jqx-tree-item-selected-light, .jqx-calendar-cell-selected-light, .jqx-grid-cell-selected-light, .jqx-menu-vertical-light .jqx-menu-item-top-selected-light, .jqx-grid-selectionarea-light, .jqx-input-button-header-light, .jqx-input-button-innerHeader-light{
            border-color: #c7c7c7 !important;
            text-decoration: none;
            color: #137499 !important;
            background-color: #e3f5fb;
            background-repeat: repeat-x;
            outline: 0;
            background: #e3f5fb;
        }
        .badge {
            padding: 3px 5px;
            background-color: #5bc0de;
            border-radius: 50px;
        }
        .jqx-icon-close{
            background-image: url(../jqwidgets/styles/images/close_white.png);
        }
        .jqx-window-header{
            background-color: #6fa5f9;
            border-color: #69A2F8;
            color: #fff;
            font-size: 15px;
            font-weight: bold;
        }
        .list-group-item {
            border: inherit;
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #ddd;
        }
        .list-group {
            margin-bottom: auto;
        }
        .m-t-15 {
            margin-top: 15px;
        }
        .jqx-cyan{
            color: #fff;
            background-color: #96d2da;
            border-color: #91D3DB;
        }
        .jqx-cyan.active, .jqx-cyan.focus, .jqx-cyan:active, .jqx-cyan:focus, .jqx-cyan:hover, .open>.dropdown-toggle.jqx-cyan{
            color: #fff;
            background-color: #5DCAD8;
            border-color: #43BECC;
        } 
        .jqx-blue{
            color: #fff;
            background-color: #7ac6f9;
            border-color: #72C1F5;
        }
        .jqx-blue.active, .jqx-blue.focus, .jqx-blue:active, .jqx-blue:focus, .jqx-blue:hover, .open>.dropdown-toggle.jqx-blue{
            color: #fff;
            background-color: #4CB5FC;
            border-color: #5ABFFA;
        } 
        .jqx-orange{
            color: #fff;
            background-color: #f9c26f;
            border-color: #FCC065;
        }
        .jqx-orange.active, .jqx-orange.focus, .jqx-orange:active, .jqx-orange:focus, .jqx-orange:hover, .open>.dropdown-toggle.jqx-orange{
            color: #fff;
            background-color: #FCB64E;
            border-color: #FCB046;
        } 
        .jqx-pink{
            color: #fff;
            background-color: #e88687;
            border-color: #EB8283;
        }
        .jqx-pink.active, .jqx-pink.focus, .jqx-pink:active, .jqx-pink:focus, .jqx-pink:hover, .open>.dropdown-toggle.jqx-pink{
            color: #fff;
            background-color: #F05D64 !important;
            border-color: #F1575F !important;
        } 
        .jqx-deongaree{
            color: #fff;
            background-color: #6fa5f9;
            border-color: #69A2F8;
        }
        .jqx-deongaree.active, .jqx-deongaree.focus, .jqx-deongaree:active, .jqx-deongaree:focus, .jqx-deongaree:hover, .open>.dropdown-toggle.jqx-deongaree{
            color: #fff;
            background-color: #4490FA ;
            border-color: #438BF7 ;
        }   
        .jqx-purple{
            color: #fff;
            background-color: #b987c5 !important;
            border-color: #B97FC7 !important;
        }
        .jqx-purple.active, .jqx-purple.focus, .jqx-purple:active, .jqx-purple:focus, .jqx-purple:hover, .open>.dropdown-toggle.jqx-purple{
            color: #fff;
            background-color: #B161CC !important;
            border-color: #AF64C4 !important;
        }       
        .menuDownUp{
            position: absolute;
            right: 15px;
            margin-top: 10px;
        }
        .fa, .ui-icon{
            font-weight: bold;
        }
        .downIcon{
            width: 50px;
            float: left;
            margin: 0 5px 0 0;
            height: 50px;
            background-color: #d9534f;
            color: #fff;
            border-radius: 6px;
        }
        .downIcon span{
            font-size: 30px;
            margin: 10px 12px;
        }
        /* 下载框 */
        .dropdown-menu{
            top: initial;
            left: initial;
            right: 5px;
            width: 280px;
            padding: 0 0 0 0;
            margin: 0;
            top: 100%;
        }
        .dropdown-menu>li.header{
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            padding: 0 10px;
            color: #fff;
            font-size: 14px;
            background-color: #B161CC !important;
            border-color: #AF64C4 !important;
        }
        .dropdown-menu li{
            position: relative;
        }
        .dropdown-menu>li .menu{
            max-height: 300px;
            margin: 0;
            padding: 0;
            list-style: none;
            overflow-x: hidden;
        }
        .dropdown-menu>li .menu>li>a{
            margin: 0;
            padding: 10px 10px;
            display: block;
            white-space: nowrap;
            border-bottom: 1px solid #f4f4f4;
        }
        .dropdown-menu>li .menu>li>a:after{
            content: " ";
            display: table;
        }
        .dropdown-menu>li .menu>li>a>div>div{
            margin: auto 10px auto auto;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            font-size: 20px;
            color: #fff;
            border-radius: 10px;
        }
        .dropdown-menu>li .menu>li:nth-child(5n+1) >a>div>div{
            background-color: #F05D64;
        }
        .dropdown-menu>li .menu>li:nth-child(5n+2)>a>div>div{
            background-color: #4490FA;
        }
        .dropdown-menu>li .menu>li:nth-child(5n+3)>a>div>div{
            background-color: #FCB64E;
        }
        .dropdown-menu>li .menu>li:nth-child(5n+4)>a>div>div{
            background-color: #4CB5FC;
        }
        .dropdown-menu>li .menu>li:nth-child(5n+5)>a>div>div{
            background-color: #B161CC;
        }
        .dropdown-menu>li .menu>li>a>h4{
            padding: 0;
            margin: 0 0 0 45px;
            color: #444444;
            font-size: 15px;
            position: relative;
        }
        .dropdown-menu>li .menu>li>a>h4>small{
            color: #999999;
            font-size: 10px;
            position: absolute;
            top: 0;
            right: 0;
        }
        .dropdown-menu>li .menu>li>a>p{
            margin: 0 0 0 45px;
            font-size: 12px;
            color: #888888;
        }
        .dropdown-menu>li .menu>li>a:after{
            clear: both;
        }
        .dropdown-menu>li>a{
            padding: 1px 20px;
        }

        .item-qualification{
            width: 50%;
        }
        .menuDownUp1{
            left: 15px;
            margin-top: 5px;
        }
        .sortdesc .jqx-icon-arrow-down-light{
            background-image: url(../jqwidgets/styles/images/metro-icon-down-blue.png);
        }
        .sortasc .jqx-icon-arrow-up-light{
            background-image: url(../jqwidgets/styles/images/metro-icon-up-green.png);
        }